<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>	<string>org.nanoapps.passwords</string>
	<key>CFBundleName</key>		<string>Passwords</string>
	<key>CFBundleExecutable</key>	<string>passwords</string>
	<key>HBAppKind</key>			<integer>1</integer>
	<key>HBIconGlyph</key>		<string>key</string>
	<key>HBIconColor</key>		<string>#38c8f5</string>
</dict>
</plist>
