<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>	<string>org.nanoapps.dictionary</string>
	<key>CFBundleName</key>		<string>Dictionary</string>
	<key>CFBundleExecutable</key>	<string>dictionary</string>
	<key>HBAppKind</key>			<integer>1</integer>
	<key>HBIconGlyph</key>		<string>book-open</string>
	<key>HBIconColor</key>		<string>#c468ee</string>
</dict>
</plist>
