<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>	<string>org.nanoapps.crosswords</string>
	<key>CFBundleName</key>		<string>Crosswords</string>
	<key>CFBundleExecutable</key>	<string>crosswords</string>
	<key>HBAppKind</key>			<integer>1</integer>
	<key>HBIconGlyph</key>		<string>table-cells</string>
	<key>HBIconColor</key>		<string>#f2bc02</string>
</dict>
</plist>
