<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>	<string>org.nanoapps.holdem</string>
	<key>CFBundleName</key>		<string>Holdem</string>
	<key>CFBundleExecutable</key>	<string>holdem</string>
	<key>HBAppKind</key>			<integer>1</integer>
	<key>HBIconGlyph</key>		<string>coins</string>
	<key>HBIconColor</key>		<string>#69809d</string>
</dict>
</plist>
