<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>	<string>org.nanoapps.mahjong</string>
	<key>CFBundleName</key>		<string>Mahjong</string>
	<key>CFBundleExecutable</key>	<string>mahjong</string>
	<key>HBAppKind</key>			<integer>1</integer>
	<key>HBIconGlyph</key>		<string>border-all</string>
	<key>HBIconColor</key>		<string>#e69934</string>
</dict>
</plist>
