<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>	<string>org.nanoapps.elements</string>
	<key>CFBundleName</key>		<string>Elements</string>
	<key>CFBundleExecutable</key>	<string>elements</string>
	<key>HBAppKind</key>			<integer>1</integer>
	<key>HBIconGlyph</key>		<string>atom</string>
	<key>HBIconColor</key>		<string>#e65d53</string>
</dict>
</plist>
