<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>	<string>org.nanoapps.stress</string>
	<key>CFBundleName</key>		<string>Stress</string>
	<key>CFBundleExecutable</key>	<string>stress</string>
	<key>HBAppKind</key>			<integer>1</integer>
	<key>HBIconGlyph</key>		<string>shapes</string>
	<key>HBIconColor</key>		<string>#33c059</string>
</dict>
</plist>
